#-*-Makefile-*-
#$Id: hemera.target,v 1.5 2010-02-26 23:36:34 bradjc Exp $

PLATFORM ?= nib

# Disable MSP430 hardware multiply because it makes MSPGCC die
#PFLAGS += -mdisable-hwmul
# OPTFLAGS += -O

# Default BSL assumes telosb-like programming interface
MSP_BSL ?= tos-bsl

# Special flags for Epic USB Mini Programmer
MSP_BSL_FLAGS = --swap-reset-test --invert-reset --invert-test

VOLUME_FILE = volumes-at45db.xml
VOLUME_ALLOCATOR ?= tos-storage-at45db

ifdef CC2420_CHANNEL
PFLAGS += -DCC2420_DEF_CHANNEL=$(CC2420_CHANNEL)
endif

# add this to let ncc figure things out
PFLAGS += -I$(TOSROOTN)/tos/platforms/nib
PFLAGS += -I$(TOSROOTN)/tos/chips/nxppca9575
PFLAGS += -I$(TOSROOTN)/tos/chips/lcdsniffer
PFLAGS += -I$(TOSROOTN)/tos/interfaces


# add this because this is basically epic.
PFLAGS += -DPLATFORM_EPIC

# Include the msp extra targets
$(call TOSMake_include_platform,msp)


nib: $(BUILD_DEPS)
	@:
